@media screen and (min-width: 1081px) {
    /* For desktop: */

    div.banner
	{
		position: relative;
		height: 100%;
		width: 100%;
		background: white;
		display:block;
		z-index: 1;
	}

	html
	{
		height:100%;
	}

	body
	{
		position: relative;
		margin: 0;
		width: 100%;
		height: 100%;
	  	background:#87deafff;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}

	div.container
	{
		display: block;
		height: 100%;
		width: 100%;
		min-height: 100%;
	}

	div	h1,h2,h3,h4
	{
		font-size: 3em;
		font-weight: 300;
	}

	div p, ul, ol
	{
		font-size: 1.5em;
	}

	div.content-view
	{	
		width: 80%;
		margin: auto;
		padding:1em;
		display:none;
		color:#222222ff;
	}

	nav
	{
		width: 60%;
		left:50%;
		height: 100%;
		margin:auto;
	}

	div.nav-bar
	{
		display:none;
		width: 100%;
		height: 3em;
		background: black;
	}

	button.nav-button
	{
		height: 100%;
		width: 33%;
		margin:auto;
		color:white;
		font-size: 1.5em;
		font-weight: 100;
		background: black;
		border: none;
		outline: none;
		padding:0;
	}

	button.nav-button:hover
	{
		background-color: #333333ff;
	}

	img.center
	{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		display: block;
		margin: auto;
		padding:1%;
		vertical-align: middle;
	}

	img#logo-text
	{
		height: 3em;
		display:none;
		text-align: center;
	}

	.logo-text
	{
		display: none;
		position: relative;
		float: left;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size:4em;
	}

	a[href]
	{
		color:teal;
		text-decoration: none;
	}

	a[href]:hover
	{
		color:blue;
		text-decoration: none;
	}

	div.team-row
	{
		width: 100%;
		margin: auto;	
		overflow:hidden;
	}

	div.team-member
	{
		position: relative;
		padding:2em;
		float:left;
		width: calc(33% - 4em);
		margin:auto;
	}

	div.team-member img
	{
		display: block;
		margin: auto;
		width: 18em;
		border-radius: 50%;
	}

	div.team-member p,h4
	{
		text-align: center;
		padding: 0;
		margin: 0.5em;
	}

	div.game
	{
		width: 100%;
		overflow:auto;
	}

	div.game img
	{
		margin:2em;
		width: 25%;
		float:right;
		border-radius:10%;
	}

	div.footer
	{
		display: none;
		height: 5em;
		background-color: black;
		outline:5px solid white;
	}

	div.footer-content
	{
		margin:0 auto;
		padding: 1em;
		width: 40em;
		display: block;
		color:#bbbbbbff;
	}
}

@media screen and (max-width: 1080px) {
	/* Mobile */
	div.banner
	{
		position: relative;
		width: 100%;
		height: 12em;
		display: block;
		z-index: 1;
		background-color: white;
	}

	html
	{
		height:100%;
	}

	body
	{
		position: relative;
		margin: 0;
		width: 100%;
		height: 100%;
	  	background:#87deafff;
		font-family: 'Lato', sans-serif;	  	
		font-weight: 300;
	}

	div	h1,h2
	{
		font-weight: 300;
		font-size: 6em;
	}

	div	h3,h4,h5
	{
		font-weight: 300;
		font-size: 4em;
	}

	div p, ul, ol
	{
		font-size: 3em;
	}

	div.container
	{
		display: block;
		height: 100%;
		min-height: 100%;
	}

	nav
	{
		text-align: center;
		width: 100%;
		height: 100%;
		margin:auto;
	}

	div.nav-bar
	{
		display:block;
		width: 100%;
		height: 6em;
		background: black;
	}

	button.nav-button
	{
		height: 100%;
		width: 30%;
		margin:auto;
		color:white;
		font-size: 3em;
		font-weight: 100;
		background: black;
		border: none;
		outline: none;
		padding:0;
	}

	button.nav-button:hover
	{
		background-color: #333333ff;
	}

	img.center
	{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		display: block;
		margin: auto;
		padding:1%;
	}

	img#logo
	{
		position:absolute;
		top:50%;
		left:5em;
		width: 8em;
		transform: translate(-50%,-50%);
		display: block;
		margin: auto;
	}

	img#logo-text
	{
		height: 2em;
		display:block;
	}

	.logo-text
	{
		display: none;
		position: relative;
		float: left;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size:7em;
	}

	div.content-view
	{	
		padding-top: 1em;
		padding-bottom: 1em;
		width: 85%;
		margin: auto;
		display:none;
		color:#222222ff;
	}

	a[href]
	{
		color:teal;
		text-decoration: none;
	}

	a[href]:hover
	{
		color:blue;
		text-decoration: none;
	}

	div.team-row
	{
		width: 100%;
		margin: auto;	
		overflow:hidden;
	}

	div.team-member
	{
		display: block;
		margin:auto;
		clear:both;
		height: auto;
		overflow:auto;
		padding-top:1em;
		padding-bottom: 1em;
	}

	div.team-member img
	{
		display: block;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 80%;
		margin: auto;
		border-radius: 50%;
	}

	div.team-member p,h4
	{
		text-align: center;
		padding: 0;
		margin: 0.5em;
	}

	div.game
	{
		width: 100%;
		overflow:auto;
		margin-top: 2em;
		margin-bottom: 4em;
	}

	div.game img
	{
		display: block;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 80%;
		margin: auto;
		clear: both;
		border-radius:10%;
	}

	div.footer
	{
		display: block;
		height: 5em;
		background-color: black;
		outline:5px solid white;
	}

	div.footer-content
	{
		margin:0 auto;
		padding-top:1em;
		width: 30em;
		display: block;
		color:#bbbbbbff;
	}
}